/* Styling for Item Card *************** */

.item-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 10px;
    left: -1px;
    top: 458px;
    background: #FFFFFF;
    border-bottom: 1px solid rgba(236, 225, 225, 0.5)
  }
  
  .info-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
  }
  
  .item-title{
    font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #24232D;
  
  }
  
  .item-description{
      flex-grow: 1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #24232D;
  }
  
  .item-price{

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #24232D;
  }

  .price-button-container{
      justify-self: flex-end;
      display: flex;
      align-items: baseline;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .item-button{
   
    padding: 6px 14px;
  background: #56BA08;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
  border: none;
  }
  
  .item-pic{
    
    border-radius: 5px;
  }